.container {
    width: 100%;
    height: 100%;
    margin: 6px;
    background-color:#f5efe0;
    box-sizing: border-box;
  }
  .message-container {
    border: 2px solid black;
    background-color: #f5efe0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  .message-container::after {
    content: "";
    clear: both;
    display: table;
  }
  .message-container p.users-messages-body {
    float: left;
    margin-left: 20px;
    margin-right:0;
  }
  .message-container p.my-message-body {
    display:none;
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
 